/* ROOT VARIABLE */

:root {
  --Primarytext-color: #2563eb;
  --Secondary-color: #202020;
  --Text-white: #fff;
  --Action-color: #2563eb;
  --Actionlight-color: #42c0f5;
  --Border-color: #323232;
  --Borderlight-color: #90b3ff;
  --black-color: #000;
  --TextDark-color: #0f172a;
  --TextDark2-color: #6d6d6d;
  --Textlight-color: #696868;
  --White-bg: #ffffff;
  --Secondarylight-color: #f6f6f6;
  --card-border: #e3e3e3;
  --footer-bg: #d8e4ff;
  --ss: #c23785;
  --red: #ef5043;
  --border-bottom: #d1d1d1;
}

/* CUSTOM CSS HERE */
* {
  /* font-family: 'Helvetica'; */
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* font-family: 'Helvetica'; */
  font-weight: 400;
  box-sizing: border-box;
  line-height: normal;
}

body {
  padding-top: 100px;
  /* Adjust this value according to the height of your navbar */
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lh-0 {
  line-height: 0px;
}

a {
  text-decoration: none !important;
}

/* CUSTOM CSS */

/* FONT SIZE */
.Heading {
  font-size: clamp(20px, 2vw, 38px);
}

.Heading2 {
  font-size: clamp(20px, 2vw, 36px);
}

.large-text {
  font-size: clamp(14px, 1vw, 20px);
}

.Sub-Heading {
  font-size: clamp(14px, 1vw, 18px);
}

.medium-text {
  font-size: clamp(12px, 1vw, 16px) !important;
}

.small-text {
  font-size: clamp(12px, 1vw, 14px);
}

.Caption {
  font-size: clamp(10px, 1vw, 12px);
}

.smaller-text {
  font-size: 11px;
}

.x-small-text {
  font-size: 10px;
}

.black_filter {
  filter: brightness(0) saturate(100%) invert(2%) sepia(3%) saturate(7286%) hue-rotate(97deg) brightness(86%) contrast(87%);
}

/* FONT WEIGHT */

.light {
  font-weight: 300;
}

.Regular {
  font-weight: 400;
}

.Medium {
  font-weight: 500;
}

.Bold {
  font-weight: 600;
}

.Bolder {
  font-weight: 700;
}

:focus-visible {
  outline: var(--Primary-color) auto 0px;
}

.primary_card_background {
  background-color: var(--Primary-color);
}

.secondary_background {
  background-color: var(--Secondary-color);
}

.footer_bg {
  background-color: var(--footer-bg);
}

.primary_btn {
  border-radius: 6px;
  border: 1px solid var(--Borderlight-color);
  background: var(--Action-color);
  padding: 11px 22px;
  color: var(--Text-white);
}

.secondary_btn {
  border-radius: 4px;
  border: 1px solid var(--Border-color);
  background: var(--Secondary-color);
  padding: 11px 16px;
  color: var(--Text-white);
}

.btn_outline {
  border-radius: 3px;
  border: 1px solid #ebeef3;
  background-color: transparent;
  padding: 8px 26px;
  color: #ebeef3;
}

/* navbar start */
.navbar {
  padding: 18px !important;
}

.navbar-nav {
  display: flex;
  gap: 48px;
}

.dropdown_item {
  color: var(--TextDark-color) !important;
}

.service_btn {
  background: transparent;
  color: var(--Text-white);
  border: 1px solid transparent;
}

.dropdown_list li a {
  padding: 8px 12px;
}

.dropdown_list li:hover {
  background-color: var(--Action-color);
}

.dropdown_list li a:hover {
  color: var(--Text-white) !important;
}

.dropdown-menu[data-bs-popper] {
  top: 117%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
  width: 230px;
}

.nav-item {
  a {
    color: var(--Text-white);
  }

  .active {
    color: var(--Text-white);
    font-weight: 700 !important;
  }
}

.navbar-toggler {
  background-color: var(--White-bg) !important;
  padding: 2px 10px !important;
}

.navbar_right {
  gap: 20px;
  align-items: center;
}

/* logo */
.logo {
  gap: 27px;
}

.logo {
  h1 {
    color: var(--Primarytext-color);
  }
}

.social_media {
  background-color: var(--Secondarylight-color);
  padding: 12px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 20px;
}

.social_left {
  gap: 12px;

  img {
    height: 16px;
    width: 16px;
  }

  h2,
  sub {
    color: var(--TextDark2-color);
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 400;
    margin-bottom: 0;
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;

  svg {
    fill: #2563EB;
  }
}



.circle2:hover {
  background-color: var(--Action-color);

  svg {
    fill: var(--White-bg) !important;
  }
}

.blue {
  background-color: var(--Action-color);
}

.bluelight {
  background-color: var(--Actionlight-color);
}

.insta {
  background-color: var(--ss);
}

.red {
  background-color: var(--red);
}

/* slider */
.carousel_text {
  margin-top: 100px;

  p,
  h6 {
    color: var(--Text-white);
  }

  h5 {
    text-transform: capitalize;
    color: var(--Text-white);
  }
}

.carousel-indicators [data-bs-target] {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--Action-color) !important;
}

.carousel_caption {
  position: absolute;
  top: -35.75rem;
  padding-top: 5.25rem;
  color: #fff;
  margin-bottom: 80px;
}

.mb_32 {
  margin-bottom: 32px;
}

.social_discription {
  display: flex;
  flex-direction: column;
  gap: 32px;

  p {
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 400;
    color: var(--Textlight-color);
    line-height: 26px;
    margin-bottom: 0px;
  }

  h2 {
    color: var(--TextDark-color);
    font-size: clamp(20px, 2vw, 36px);
    font-weight: 700;
    text-align: center;
  }

  h3 {
    color: var(--TextDark-color);
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 700;
    text-align: center;
  }
}

/* user details */
.user_details {
  background-color: var(--Action-color);
  padding: 36px;
  border-radius: 12px;
  margin: 32px 0;
}

.contact_us {
  background-color: var(--White-bg);
  border-radius: 8px;
  padding: 8px 34px;
  border: 1px solid transparent;
  color: var(--Primarytext-color);
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.user_card {
  display: flex;
  gap: 12px;
}

.user_card {
  img {
    height: 24px;
    width: 24px;
  }

  h2 {
    color: var(--Text-white);
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    margin-bottom: 4px;
  }

  h3 {
    color: var(--Text-white);
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 500;
    margin-bottom: 0;
  }
}

/* footer */
.footer_left_content {
  padding-top: 21px;

  h2 {
    color: var(--TextDark-color);
  }
}

.footer li a {
  color: var(--TextDark-color);
}

.footer_right_content {
  padding: 99px 0px 121px;
}

.footer_border {
  border-bottom: 1px dashed #6f7c8e;
  margin-bottom: 24px;
}

.footer {
  h5 {
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 600;
    color: var(--TextDark-color);
    margin-bottom: 44px;
  }

  li {
    font-size: clamp(11px, 2vw, 14px);
    font-weight: 500;
    color: var(--TextDark-color);
    list-style: none;
    align-items: center;
  }

  ul {
    margin-bottom: 0;
    gap: 22px;
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
  }

  li svg {
    margin-right: 10px;
    height: 16px;
    width: 16px;
  }

  .footer_right_content ul li a:hover {
    color: var(--Primarytext-color);
  }

  .footer_right_content ul li a svg {
    fill: var(--TextDark-color);
  }

  .footer_right_content svg>a :hover {
    fill: var(--Primarytext-color) !important;
  }

  ul .active svg {
    fill: var(--Action-color) !important;
  }
}

.icons_back {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: var(--White-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.icons_back img {
  height: 20px;
  width: 20px;
}

.icons li {
  display: flex;
  gap: 12px;
}

.copyright {
  font-size: clamp(11px, 2vw, 14px);
  font-weight: 500;
  color: var(--TextDark-color);
}

.light {
  background-color: #c6d7fd9c;
}

.background_cards {
  border-radius: 24px;
  background: #fdfdfd;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 24px;
  height: 377px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.background_img img {
  width: 100%;
  height: 440px;
  border-radius: 6px;
}

.background_cards {
  h2 {
    color: var(--TextDark-color);
    font-size: clamp(18px, 2vw, 26px);
    font-weight: 700;
  }

  h3 {
    color: var(--Textlight-color);
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 400;
    line-height: 24px;
  }
}

.card_left {
  width: 100%;
  display: flex;
}

/*.background_img {
  width: 60%;
}*/

.card_right {
  width: 50%;
  z-index: 999;
}

.cardss {
  position: relative;
  z-index: -1;
}

/* services */
.service img {
  border-radius: 14px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.28);
  margin-bottom: 24px;
  object-fit: cover;
}

.service {
  h2 {
    color: var(--TextDark-color);
  }
}

.service_images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playstore {
  border-radius: 4px;
  border: 1px solid var(--Borderlight-color);
  background: var(--black-color);
  padding: 11px 16px;
  color: var(--Text-white);
  gap: 8px;
}

.playstore {

  h2,
  h3 {
    color: var(--Text-white);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 36%);
}

/* contact us */
.contact_card {
  border-radius: 8px;
  background: var(--White-bg);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.contact_details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card_border {
  border: 1px solid var(--card-border);
}

.contact_card {
  h2 {
    border-bottom: 1px solid var(--border-bottom);
    color: var(--TextDark-color);
  }

  h3 {
    color: var(--Textlight-color);
  }
}

.contact_box {
  h2 {
    color: var(--TextDark-color);
    font-size: clamp(20px, 2vw, 36px);
    font-weight: 700;
    text-align: center;
  }

  .contact_form_card {
    border-radius: 14px;
    background: var(--Secondarylight-color);
    padding: 46px 99px;
  }
}

/* contact form */
.contact_form_box {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  gap: 32px;
}

.contact_form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.select_option {
  height: 40px;
  padding: 12px 16px;
  z-index: 100;
}

.contact_form {
  label {
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 500;
    color: var(--TextDark-color);
    margin-bottom: 6px;
  }

  input,
  .select_box {
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    background: var(--White-bg);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 7px 16px;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 400;
  }

  input::placeholder {
    color: var(--TextDark2-color);
  }

  select {
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 400;
    border: none;
    color: var(--TextDark2-color);
  }

  textarea {
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    background: var(--White-bg);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 7px 16px;
    resize: none;
  }

  .input_text_number {
    padding-left: 80px;
  }

  .agreement {
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 400;
    color: var(--TextDark2-color);
  }
  
  .error {
    margin-bottom: 0.5rem;
    color: #d2281e;
  }
}


.contact_form_card .contact_img {
  display: flex;
  justify-content: space-between;
}

.team_box {
  h2 {
    color: var(--TextDark-color);
    font-size: clamp(20px, 2vw, 36px);
    font-weight: 700;
    text-align: center;
  }

  h3 {
    color: var(--TextDark-color);
  }

  h4 {
    color: var(--Primarytext-color);
  }

  h5 {
    color: var(--TextDark2-color);
  }

  .col-md-3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.team_card {
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.team_member {
  justify-content: space-evenly;
}

.news_details {
  justify-content: space-between;
}

.user_name {
  display: flex;
  flex-direction: column;
}
.dropdown_list .nav-item {
  .active {
      color: var(--TextDark-color) !important;
      font-weight: 700 !important;
  }
}
/* other page */
.other_content {
  margin-bottom: 32px;
  h2 {
    color: var(--TextDark-color);
    font-size: clamp(20px, 2vw, 36px);
    font-weight: 700;
    text-align: center;
  }
  p{
    color: var(--Textlight-color);
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 400;
    margin-bottom: 6px;
  }
}

/* media query */

@media (max-width: 992px) {
  .navbar-nav {
    gap: 24px;
    margin-top: 28px;
  }

  .news_details {

    .col-md-4,
    .col-md-7 {
      flex: 0 0 auto;
      width: 50%;
    }
  }

  .user_card {
    h3 {
      font-size: clamp(12px, 2vw, 14px);
    }
  }

  .carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
  }

  .footer {
    flex: 0 0 auto;
    width: 40% !important;
  }

  .footer_right_content {
    padding: 40px 0px 20px;
  }

  .contact_box {
    .contact_form_card {
      padding: 46px 40px;
    }
  }

  .contactus_imgs {
    display: flex;
    align-items: center;
  }

  .contact_img .col-md-6 {
    flex: 0 0 auto;
    width: 60%;
  }

  .contact_img .col-md-5 {
    flex: 0 0 auto;
    width: 37.666667%;
  }

  .card_right {
    width: 70%;
  }

  /* slider */
  .carousel_text {
    margin-top: 24px;
  }

  .carousel_caption {
    top: -23.75rem;
    margin-bottom: 0;
    padding-top: 9.25rem;
  }

  .slider_img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .contact_us {
    margin-top: 30px;
  }


  .social_icons {
    flex-direction: column;
    gap: 12px;
  }

  .news_details {
    flex-direction: column;
    gap: 30px;

    .col-md-4,
    .col-md-7 {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  .footer {
    flex: 0 0 auto;
    width: 40% !important;
  }

  .footer_right_content {
    padding: 40px 0px 20px;
  }

  .contact_img .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 24px;

  }

  .contact_img .col-md-5 {
    flex: 0 0 auto;
    width: 100%;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
  }

  .team_box {
    .col-md-3 {
      width: 30%;
    }
  }

  .contact_form_box {
    justify-content: center;
  }

  .contactus_imgs {
    justify-content: center;
    margin-bottom: 24px;
  }

  .carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
  }

  /* slider */
  .carousel_text {
    margin-top: 24px;
  }

  .card_right {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .contact_us {
    margin-top: 8px;
  }


  .navbar_right {
    flex-direction: column;
    align-items: flex-start !important;
    margin-top: 20px;
  }

  .carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
  }

  .news_details {
    flex-direction: column;
    gap: 30px;

    .col-md-4,
    .col-md-7 {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  .footer {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .footer_right_content {
    padding: 30px 0px 20px;
  }

  .footer {
    h5 {
      margin-bottom: 24px;
    }
  }

  .team_box {
    .col-md-3 {
      width: 80%;
    }
  }

  .contact_img .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 24px;
    display: block;
  }

  .inputs {
    flex-direction: column;
    gap: 16px;
  }

  .cards_content {
    flex-direction: column;
    gap: 24px;
  }

  .card_right {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }

  .background_img img {
    height: fit-content;
  }
}













@media (max-width: 1200px) {
  .news_details {
    justify-content: space-evenly;
  }
}